<div class="application flex-col">
    <div>
        <input type="text"
               (keyUp.enter)="loadWeather()"
               [(ngModel)]="zipcode" />
        <button (click)="loadWeather()">
            Load weather
        </button>
    </div>

    <div class="loading" *ngIf="loading">
        Loading weather data...
    </div>

    <!-- Add the error div using errorMessage -->

    <div class="result" *ngIf="zipcodeWeather">
        <span>{{zipcodeWeather.city}}, {{zipcodeWeather.state}}</span>
        <span>{{zipcodeWeather.latitude}} {{zipcodeWeather.longitude}}</span>

        <base-chart class="chart"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"></base-chart>
    </div>
</div>
