
$error-background: red;
$error-color: white;

:host {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.application {
	flex: 0.5;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.error {
    margin-top: 20px;
    padding: 10px;
    background-color: $error-background;
    color: $error-color;
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
